<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout (
  page = 'moments',
  title = ${theme.config.moments.custom_title},
  head = ~{::head},
  above = ~{::above},
  content = ~{::content},
  js = ~{::js}
  )}">
>
<th:block th:fragment="head">
  <style th:inline="css"
    th:with="above_background= ${is_body_bg_http ? '' : 'url(' + theme.config.moments.above_background + ')'}">
    .above {
      --above-background:
      /*[(${above_background})]*/
      transparent;
    }
  </style>
  <link rel="stylesheet" th:href="${assets_link+'/css/moments.min.css' + theme_version}">
</th:block>

<section
  th:fragment="above"
  th:if="${theme.config.moments.enable_above}"
  class="above relative w-100">
  <h1 class="absolute above-public-title font-weight-400 margin-0 left-0 right-0 text-center"
    th:text="${theme.config.moments.custom_title}"></h1>
</section>


<th:block th:fragment="content">
  <section class="container card" th:with="noData = ${not #lists.isEmpty(moments)}">
    <th:block th:if="${noData}">
      <div class="tag-cloud-list is-center">
        <a th:href="@{/moments}"><span class="moments-punctuation">全部</span></a>
        <a th:each="tag : ${moments}" th:href="@{|?tag=${tag.name}|}" style="background: var(--heo-secondbg)">
          <span class="moments-punctuation" th:text="|${tag.name}|"></span>
        </a>
      </div>
      <div style="padding: 20px;" th:each="moment : ${moments.items}"
        th:with="content=${moment.spec.content}">
        <div class="moments-header">
          <div>
            <img class="moments-avatar" th:src="${moment.owner.avatar}" />
          </div>
          <div>
            <span class="display-name" th:text="${moment.owner.displayName}"></span>
            <time class="release-time"
              th:text="${#dates.format(moment.spec.releaseTime,'yyyy-MM-dd')}"></time>
          </div>
        </div>
        <div class="moments-content">
          <div class="datacont" th:if="${not #strings.isEmpty(content.html)}"
            th:utext="${content.html}">
          </div>
          <th:block th:if="${not #lists.isEmpty(content.medium)}">
            <div class="moments-img"
              th:if="${#strings.contains(content.medium,'PHOTO')}">
              <img th:each="momentItem : ${content.medium}"
                th:if="${momentItem.type.name == 'PHOTO'}"
                th:src="${momentItem.url}" style="max-width: 33%;min-width: 28%;padding: 0px 2px;"
                title="瞬间配图">
              <div class="moments-content-noimg"></div>
              <div class="moments-content-noimg"></div>
              <div class="moments-content-noimg"></div>
            </div>
            <div th:each="momentItem : ${content.medium}" class="moments-video"
              th:if="${momentItem.type.name == 'VIDEO'}">
              <video th:src="${momentItem.url}"></video>
            </div>
          </th:block>
          <div class="moments-bottom">
            <div class="bottom">
              <div class="moments-info">
                <a style="float: left;" th:onclick="handleUpvote([[${moment.metadata.name}]])">
                  <i class="icon-pack solar--heart-bold" class="upvote grayscale"
                    th:upvote-moment-icon-name="${moment.metadata.name}"></i>
                  <span th:text="${moment.stats.upvote}" th:data-upvote-moment-name="${moment.metadata.name}"></span>
                </a>
                <a style="float: right;" th:onclick="showMomentComment([[${moment.metadata.name}]])">
                  <i class="icon-pack solar--chat-line-linear"></i>
                  <span th:text="${moment.stats.approvedComment}"></span>
                </a>
              </div>
              <div class="post-comment" th:if="${pluginFinder.available('PluginCommentWidget')}">
                <halo:comment colorScheme="window.dataTheme" group="content.halo.run" kind="Post"
                  th:attr="name=${moment.metadata.name}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:if="${moments.hasPrevious() || moments.hasNext()}">
        <a th:href="@{${moments.prevUrl}}">
          <span>上一页</span>
        </a>
        <span th:text="${moments.page}"></span>
        <a th:href="@{${moments.nextUrl}}">
          <span>下一页</span>
        </a>
      </div>
    </th:block>

    <th:block th:unless="${noData}" th:insert="~{modules/public:: emptyData('暂无标签~',false)}"></th:block>
  </section>

  <th:block th:replace="~{modules/public:: aside}"></th:block>
</th:block>

<th:block th:fragment="js">
  <script type="text/javascript" th:src="${assets_link+'/plugins/echarts/echarts.min.js'}"></script>
  <script type="text/javascript" th:src="${assets_link+'/js/moments.min.js' + theme_version}"></script>
</th:block>

</html>