<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout (
  page = 'moments',
  title = ${theme.config.moments.custom_title+ ' | ' + site.title},
  head = ~{::head},
  above = ~{::above},
  content = ~{::content},
  js = ~{::js}
  )}">
>
<th:block th:fragment="head">
  <style th:inline="css"
    th:with="above_background= ${is_body_bg_http ? '' : 'url(' + theme.config.moments.above_background + ')'}">
    .above {
      --above-background: /*[(${above_background})]*/ transparent;
    }
  </style>
  <link rel="stylesheet" th:href="${assets_link+'/css/moments.min.css' + theme_version}">
</th:block>

<section
  th:fragment="above"
  th:if="${theme.config.moments.enable_above}"
  class="above relative w-100">
  <h1 class="absolute above-public-title font-weight-400 margin-0 left-0 right-0 text-center"
    th:text="${theme.config.moments.custom_title}"></h1>
</section>


<th:block th:fragment="content">
  <section class="container card" th:with="noData = ${not #lists.isEmpty(moments)}">
    <div class="note-bar">
      <ul class="moments-list flex flex-direction-row flex-wrap-wrap flex-justify-content-start">
        <li class="moments-list-item relative">
          <a href="/moments" th:class="${#lists.isEmpty(param.tag) ? 'active' : ''}">全部</a>
        </li>
        <li class="moments-list-item relative" th:each="tag,iStat : ${tags}"
          th:data-postCount="${category.postCount}"
          th:data-displayName="${category.spec.displayName}">
          <a th:href="|/moments?tag=${tag.name}|"
            th:class="${#lists.contains(param.tag, tag.name) ? 'active' : ''}"
            th:text="${tag.name}"></a>
        </li>
      </ul>
    </div>
    <div class="note-page">
      <ul>
        <li th:each="moment,iStat : ${moments}">
          <div class="top">
            <div class="left">
              <img th:src="${moment.owner.avatar}">
            </div>
            <div class="right">
              <div class="note-author" th:text="${moment.owner.displayName}"></div>
              <div class="note-date"
                th:text="${#dates.format(moment.spec.releaseTime,'yyyy年MM月dd日 HH:mm')}">
              </div>
            </div>
          </div>
          <div class="center" th:with="content=${moment.spec.content}">
            <div class="notes-content" th:utext="${content.html}"></div>
            <th:block th:if="${not #lists.isEmpty(content.medium)}">
              <div th:class="|moment-media medium-${content.medium.size}|">
                <th:block th:each="media : ${content.medium}">
                  <div class="moment-media-item">
                    <img th:if="${#strings.equals(media.type,'PHOTO')}"
                      class="rounded-lg " th:src="${media.url}" loading="lazy">
                    <video th:if="${#strings.equals(media.type,'VIDEO')}"
                      th:src="${media.url}" width="100%" height="auto"
                      controls="true"></video>
                  </div>
                </th:block>
              </div>
            </th:block>
          </div>
          <div class="bottom">
            <div class="moments-info">
              <a th:onclick="handleUpvote([[${moment.metadata.name}]])">
                <i class="icon-pack solar--heart-bold" th:upvote-moment-icon-name="${moment.metadata.name}"></i>
                <span th:text="${moment.stats.upvote}" th:data-upvote-moment-name="${moment.metadata.name}"></span>
              </a>
              <a style="float: right;" th:onclick="showMomentComment([[${moment.metadata.name}]])">
                <i class="icon-pack solar--chat-line-linear"></i>
                <span th:text="${moment.stats.approvedComment}"></span>
              </a>
            </div>
            <div class="post-comment" th:if="${pluginFinder.available('PluginCommentWidget')}">
              <halo:comment group="moment.halo.run" kind="Moment"
                th:attr="name=${moment.metadata.name}" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <th:block th:replace="~{modules/public:: aside}"></th:block>
</th:block>

<th:block th:fragment="js">
  <script type="text/javascript" th:src="${assets_link+'/plugins/echarts/echarts.min.js'}"></script>
  <script type="text/javascript" th:src="${assets_link+'/js/moments.min.js' + theme_version}"></script>
  <script>
    var upVotedNames = []
    upVotedNames = JSON.parse(localStorage.getItem(`omgx.upvoted.moment.names`) || '[]')
    upVotedNames.forEach(name => {
      setLikeActive(name)
    });

    function setLikeActive(name) {
      const o = document.querySelector(
        '[upvote-moment-icon-name="' + name + '"]'
      )
      if (!o) return
      o.setAttribute('style', 'color: #ff4757;')
    }

    function upvoted(name) {
      return upVotedNames.includes(name)
    }
    function handleUpvote(name) {
      if (upvoted(name)) return
      fetch('/apis/api.halo.run/v1alpha1/trackers/upvote', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ group: "moment.halo.run", plural: 'moments', name }),
      }).then(response => response)
        .then(data => {
          upVotedNames = [...upVotedNames, name];
          localStorage.setItem(
            `omgx.upvoted.moment.names`,
            JSON.stringify(upVotedNames)
          );
          setLikeActive(name)
          const o = document.querySelector(
            '[data-upvote-moment-name="' + name + '"]'
          )
          if (!o) return
          const s = parseInt(o.textContent || '0')
          o.textContent = s + 1 + ''
        })
        .catch((error) => console.error('Error:', error));
    }
    function showMomentComment(momentName) {
      const elements = document.querySelectorAll('[id^="comment-moment-halo-run-Moment-"]');
      // 遍历这些元素
      elements.forEach(function (element) {
        // 对每个元素执行操作
        if (element.id == 'comment-moment-halo-run-Moment-' + momentName) {
          if (element.getAttribute('style').includes("block")) {
            element.setAttribute("style", "display:none;");
          } else {
            element.setAttribute("style", "display:block;padding: 20px;");
          }
        } else {
          element.setAttribute("style", "display:none;");
        }
      });
    }
    showMomentComment('')
  </script>
</th:block>

</html>